@tailwind base;
@tailwind components;
@tailwind utilities;


// Floating theme for Floating Logo
@keyframes float {
    0% {
        filter:drop-shadow( 0 5px 15px 0px rgba(0,0,0,0.6));
        transform: translateY(0px);
    }
    50% {
        filter:drop-shadow( 0 25px 15px 0px rgba(0,0,0,0.2));
        transform: translateY(-20px);

    }
    100% {
        filter:drop-shadow( 0 5px 15px 0px rgba(0,0,0,0.6));
        transform: translateY(0px);

    }
    
}

.avatar {
    filter:drop-shadow( 0 5px 15px 0px rgba(0,0,0,0.6));
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
    border-radius: 50%;
    padding-bottom: 10px;
    
}

